{% extends "base.html" %}

{% block content %}
    <div class="page-header">
      <h1>Current Topic <small>{{ topic }}</small></h1>
    </div>

    <h2>Entries</h2>
    <ul class="nav nav-pills">
        <li class="presentation"><a href="{% url 'Journal:new_entry' topic.id %}">Add New Entry</a></li>
    </ul>

    <ul>
        {% for entry in entries %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>{{ entry.date_added|date:'M d, Y H:i' }}
                        <small><a href="{% url 'Journal:edit_entry' entry.id %}">Edit Entry!</a></small>
                    </h3>
                </div>
                <div class="panel-body">
                    {{ entry.text|linebreaks }}
                </div>
            </div>
        {% empty %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>There no entries for this topic</h3>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock content %}